<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="cloud small"></div>
  <div class="cloud large"></div>

  <div class="header">
    <h1>Control Center</h1>
    <nav class="admin-nav">
        <a href="{{ url_for('admin_dashboard') }}">Home</a>
        <a href="/admin/customers">Customers</a>
        <a href="/admin/courses">Courses</a>
        <a href="{{ url_for('manage_bookings') }}">Bookings</a>
    </nav>
  </div>

  <div class="dashboard">
 
    <h2>System Overview</h2>
    <div class="stats-container">
      <a href="/admin/customers" class="stat-card">
        <span class="stat-number">{{ customer_count }}</span>
        <span class="stat-label">Customers</span>
      </a>
      <a href="/admin/courses" class="stat-card">
        <span class="stat-number">{{ course_count }}</span>
        <span class="stat-label">Courses</span>
      </a>
      <a href="{{ url_for('manage_bookings') }}" class="stat-card">
        <span class="stat-number">{{ booking_count }}</span>
        <span class="stat-label">Bookings</span>
      </a>
    </div>
    <br><br>
    <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
  </div>
</body>
</html>
