<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="cloud small"></div>
  <div class="cloud large"></div>

  <div class="header">
    <h1>Edit Booking</h1>
    <p>Update booking detail </p>
  </div>

  <div class="dashboard">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label>Course:</label>
      <select name="course_id">
        {% for c_id, c_name in courses %}
            <option value="{{ c_id }}" {% if c_id == booking.course_id %}selected{% endif %}>
                {{ c_name }}
            </option>
        {% endfor %}
      </select>

      <label>Extra Requests:</label>
      <textarea name="extra">{{ booking.extra }}</textarea>

      <button type="submit">Save Changes</button>
    </form>

    <a href="{{ url_for('admin_dashboard') }}">Back to dashboard</a>
  </div>

</body>
</html>
