<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="cloud small"></div>
  <div class="cloud large"></div>

  <div class="header">
    <h1>Edit Booking</h1>
    <p>Update booking detail </p>
  </div>

  <div class="dashboard">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <p>
        <label><strong>Name</strong></label><br>
        <input type="text" value="{{booking.name}} {{ booking.last_name }}">
      </p>

      <p>
        <label><strong>Course</strong></label><br>
        <select name="course_id" required>
          {% for c in courses %}
            <option value="{{c.course_id}}"
              {% if c.course_id == booking.course_id %}selected{% endif %}>
              {{ c.course_name }}
            </option>
          {% endfor %}
        </select>
      </p>

      <button type="submit">Save changes</button>
    </form>

    <a href="{{ url_for('admin_dashboard') }}">Back to dashboard</a>
  </div>

</body>
</html>
