name: CI Pipeline

on:
    pull_request:
        branches: ["main"]
    push:
        branches: ["main"]

jobs:
    Linting:
        name: Code Linting
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: Install flake8
              run: |
                python -m pip install --upgrade pip
                pip install flake8 pylint black

            - name: Run Black 
              run: black --check --diff .
              continue-on-error: true

            - name: Run flake8
              run: |
                flake8 . --max-line-length=100 --statistics
            
            - name: Run Pylint
              run: |
                pylint . || true

    unit-test:
        name: Unit Tests with Coverage
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run tests
              run: |
                pytest --cov=app --cov-report=xml --cov-report=html --cov-report=term-missing -v
            
            - name: Upload coverage reports
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: |
                  coverage.xml
                  htmlcov/

            - name: Coverage Summary
              run: |
                echo "## Test Coverage Report" >> $GITHUB_STEP_SUMMARY
                coverage report >> $GITHUB_STEP_SUMMARY || true


    sonarqube:
        name: SonarQube Scan
        runs-on: ubuntu-latest
        needs: unit-test

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            
            - name: SonarCloud Scan
              uses: sonarsource/sonarcloud-github-action@v2
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                projectKey: https://github.com/abbiec123456/Ghibli-Movie
                organization: iumy
